<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.test.basics.AssertExample"/>
      <class name="com.test.basics.TutorialsNinja"/>
      <class name="com.test.basics.Assert"/>
      <class name="com.test.basics.AnnotationExample"/>
      <class name="com.test.basics.Demo1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
